@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
    font-family: 'Noto Sans Thai', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: url('header-img.jpeg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 60px;
}

section {
    padding: 50px;
}

.project {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #002aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}